
@{
    ViewBag.Title = "Details";
}

<h1>CONTACT INFORMATION</h1>
<br />
Current Address:34/5,Kallayanpur,Dhaka-1207.
<br />
Contact Number: 01867-568955
<br />
Email Address: nahid7843@gmail.com
<br />
<h1>PERSONAL INFORMATION</h1>
<br />
Father’s Name: Md. SORROWAR HOSSEN
<br />
Mother’s Name: SATARA SULTANA
<br />
Date of Birth: 10-09-1998
<br />
Nationality: Bangladeshi (By Birth)
<br />
Gender: Male
<br />
Religion: Islam (sunni)
<br />
Blood Group: A (+)
<br />
Present Address: House no 34/5, Road no-11, Kallayanpur ,Dhaka-1207
<br />
ParmanentAddress: Village: Mohishahati, Post: Barobazar, P.S.: Kaligonj, Dist: Jhenaidha, Bangladesh
<br />


