
@{
    ViewBag.Title = "Edu";
}

<h1>EDUCATION QUALIFICATION</h1>
<h2>Secondary School Certificate (S.S.C)</h2>
<ul>
    <li>Institution-Manirampur Govt. High School</li>
    <li>Passing Year-2016</li>
    <li>GPA-5.00</li>
</ul>
<h2>Higher Secondary Certificate (H.S.C)</h2>
<ul>
    <li>Institution-Manirampur Govt. Degree College</li>
    <li>Passing Year-2018</li>
    <li>GPA-4.33</li>
</ul>
<h2>Bachelor of science in Computer Science and Engineering</h2>
<ul>
    <li>Institution-American International University-Bangladesh</li>
    <li>Passing Year-2023</li>
    <li>GPA-3.63</li>
</ul>